* text=auto eol=lf
*.png binary
*.wasm binary
*.pdf binary
*.svg binary
*.md text
*.py text
*.sh text
*.json text
*.yml text
*.yaml text
*.ts text
*.tsx text
*.css text
*.html text
*.js text
*.mjs text
*.toml text
*.ini text
*.conf text
*.service text
*.txt text
*.svg text
